body {
  background: #1da1f2;
  /* background-color: rgb(21, 32, 43); */
}
.landing {
  height: 100vh;

  /* background: linear-gradient(to right, #4b95d1e1, #075eaf); */
}
/* .landing#blur.active {
  height: 100vh;
  filter: blur(7px);
  pointer-events: none;
  user-select: none;
} */
.main-text {
  /* color: #dadee0; */
  color: #e1e6e9;
  font-size: 45px;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.sub-note {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #e1e6e9;
  font-weight: 300;
}
.btn {
  background-color: #26d1e0;
  color: #e6ebee;
  width: 75%;
  font-size: 20px;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.btn:hover {
  background-color: #098894;
  color: #e6ebee;
  width: 75%;
  font-size: 20px;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  transition: 0.5s ease-in-out;
}
/* desktop media queries  */
@media (min-width: 900px) {
  .main-text {
    margin-bottom: 10px;
    color: #e1e6e9;
    font-size: 60px;
    line-height: 1;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }
  .right {
    display: flex;
    margin-top: 70px;
    margin-left: 50px;
  }
  .sub-note {
    font-size: 28px;
    font-family: "Poppins", sans-serif;
    color: #e1e6e9;
    font-weight: 300;
  }
}

/* Andriod Media Queries  */
@media (max-width: 500px) {
  .landing {
    flex-direction: column;
  }
  .right {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .left {
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
  }
  .main-text {
    /* color: #dadee0; */
    color: #e1e6e9;
    font-size: 40px;
    line-height: 1;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }
  .btn {
    background-color: #26d1e0;
    color: #e6ebee;
    width: 90%;
    font-size: 20px;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  .btn:hover {
    background-color: #098894;
    color: #e6ebee;
    width: 90%;
    font-size: 20px;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    transition: 0.5s ease-in-out;
  }
  .landing#blur.active {
    height: 100vh;
    filter: blur(7px);
    pointer-events: none;
    user-select: none;
  }
}
