body {
  background: #1da1f2;
  /* background-color: rgb(21, 32, 43); */
}
.landing {
  height: 100vh;

  /* background: linear-gradient(to right, #4b95d1e1, #075eaf); */
}
.landing#blur.active {
  height: 100vh;
  filter: blur(7px);
  pointer-events: none;
  user-select: none;
}
.main-text {
  /* color: #dadee0; */
  color: #e1e6e9;
  font-size: 45px;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.sub-note {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #e1e6e9;
  font-weight: 300;
}
.btn {
  background-color: #26d1e0;
  color: #e6ebee;
  width: 75%;
  font-size: 20px;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.btn:hover {
  background-color: #098894;
  color: #e6ebee;
  width: 75%;
  font-size: 20px;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  transition: 0.5s ease-in-out;
}
